.info-tooltip {
  color: #eeeeee;
  text-shadow: 0 0 3px #035d2e;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  opacity: 1;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  transition: opacity 0.5s linear;
  align-self: center;
  position: fixed;
  top: 10%;
  z-index: 5;
}

@media screen and (max-width: 767px) {
  .info-tooltip {
    font-size: 16px;
  }
}
.info-tooltip_active {
  opacity: 1;
}
